*{
    margin: 0;
    padding: 0;
}

:root{
    --main-font: 'Roboto', sans-serif;
    --font-color: rgba(245, 245, 231, 0.938);
}

body{
    background-color: rgba(25, 103, 248, 0.829);
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--font-color);
    font-size: 1rem;
    margin-top: 5%;
}

header{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    color: black;
    margin: 1% auto;
    padding: 1%;
    width: 20%;
    border-radius: 9px;
    gap: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}

.container__sexo{
    display: flex;
    gap: 5px;
}

.container__resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*
.resultado__imagem{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid;
}
*/

img{
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid;
    margin: 3% auto;
}

footer{
    text-align: center;
}